{% extends '::layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <h1>{{ "welcome_header" | trans }}</h1>
        <p>
            {{ "welcome_message" | trans }}
        </p>
    </div>
</div>
{% endblock %}
